*/work/
*/_ngo/
*/_xmsgs/
*/iseconfig/
*/xst/
*/xlnx_auto_0_xdb/
*/ipcore_dir/
*/planAhead_run_*/
*/isim/
*/sch2HdlBatchFile


*_pad.txt
*.bit
*.mpf
*.bgn
*.bld
*.cr.mti
*.gise
*.mpf
*.ngr
*.ngc
*.ut
*.stx
*.xise
*.par
*.prj
*.trw
*.xst
*.html
*.map
*.ncd
*.xrpt
*.csv
*.xml
*.log
*.cmd_log
*.drc
*.lso
*.ngd
*.pad
*.pcf
*.ptwx
*.syr
*.twx
*.unroutes
*.xpi
*.xwbt
*.ncd
*.mrp
*.ngm
*.xrpt
*.prj
*.twr
*.sym
*.spl
*.vhf
*.debug
*.tcl
*.wdb
*.xsvf
*.xmsgs
*.cmd
*.dmp
*.exe
*.jhd
*.schlog

xilinxsim.ini
